# Virtual env
.venv/

# Python cache
__pycache__/
*.pyc

# Data / outputs (tweak if needed)
DF_step_1_complete.csv
earnings_df.csv
# outputs/ ## CHANGE BACK!!!!!
# **/outputs/

# OS stuff
.DS_Store

.env
*.env
.ipynb_checkpoints/
# data/   ## CHANGE BACK!!!!!
# **/data/
*.csv
secrets.json
config_local.py
